

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Eléments communs à toutes les pages*/
/*Eléments graphiques du header tout est centré*/

#header {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding-top: 70px;
}

/*Réduction de la taille de font de p*/

#header  p {
	font-size: 16px;
} 







/*Page index*/
/*Ajustement de l'espace entre les boutons de la page Index*/

#header a {
	margin: 8px;
}










/*Page connexion*/
/*Ajustement de la largeur des champs du formulaire*/

#formConnexion {
	margin: 0 auto;
	width: 50%;
}

/*Ajustement de l'espace entre les champs des div et du boutons*/
#formConnexion div {
	margin: 15px;
}

#formConnexion button {
	margin: 15px;
}




/*Page Administrateur*/

#tableUsers {
	margin-top: 25px;
}














